.button{
    -fx-background-color:#99dbfc;
    -fx-background-size: cover;
    -fx-border-width: 4;
    -fx-border-color: black;
    -fx-cursor: hand;
}

.button:hover{
    -fx-background-color:#5e7bff;
}

#btnAxe:focused {
    -fx-background-color:#5e7bff;
}

#btnBoat:focused {
    -fx-background-color:#5e7bff;
}

#btnReset:pressed {
    -fx-background-color:#5e7bff;
}

#btnUndo:pressed {
    -fx-background-color:#5e7bff;
}

#btnInfo:pressed {
    -fx-background-color:#5e7bff;
}

.slide {
	-fx-background-color:linear-gradient(TO TOP, #1f4037,#99f2c8,#78ffd6,#a8ff78
	);
}
