.button{
    -fx-background-color:#99dbfc;
    -fx-background-size: cover;
    -fx-border-width: 4;
    -fx-border-color: black;
    -fx-cursor: hand;
}

.button:hover{
    -fx-background-color:#5e7bff;
}


